body {
  background-color: #14204f;
  margin: 0 auto;
  max-width: 760px;
}

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body, input, button, textarea {
  font-family: Georgia, Helvetica;
  font-size: 17px;
  color: #ecf0f1;
}

textarea {
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #14204f;
  min-height: 400px;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

h3 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;
}

a,
a:hover {
  color: #ecf0f1;
}

pre code {
  color: #fff;
  font-size: 18px;
}

pre {
  overflow-x: auto;
}

label {
  display: block;
  margin-bottom: 15px;
}

sub {
  display: block;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 11px;
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
  padding: 20px;
}

input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #14204f;
  border: 0;
  margin: 5px 0;
  display: block;
  width: 100%;
}

button {
  background-color: #ecf0f1;
  color: #14204f;
  border: 0;
  padding: 18px 12px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.nsg-tag {
  border-color: #14204f;
}

.inline {
  display: inline-block;
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.autofruit {
  width: 16px;
  margin-right: 3px;
}

#ddl {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
}

/* Carbon */

#carbonads {
  position: absolute;
  display: block;
  overflow: hidden;
  margin-left: -180px;
  padding: 1em;
  max-width: calc(130px + 2em);
  background-color: hsla(0, 0%, 100%, 0.2);
  text-align: center;
  font-size: 12px;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  transition: color .2s ease-in-out;
}

#carbonads a:hover {
  color: #ccc;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 1em;
}

.carbon-text {
  display: block;
  margin-bottom: 1em;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
  #carbonads {
    position: relative;
    float: none;
    margin: 0 auto -26px;
    max-width: 330px;
  }
  #carbonads span {
    position: relative;
  }
  #carbonads > span {
    max-width: none;
  }
  .carbon-img {
    float: left;
    margin: 0 1em 0 0;
  }
  .carbon-text {
    float: left;
    margin-bottom: 0;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
  }
  .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }
}
